{% extends 'base.html' %}

{% block title %}About Us{% endblock %}
{% block head %}
<style>
    .paragraph{
        font-family: Serif;
        letter-spacing: 2px; 
        word-spacing: 3px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row p-5 bg-light d-flex justify-content-center">
        <section class="text-center text-white w-75 p-5 mt-5 rounded-5" style="background-color: #474e5d;">
            <h1 class="pb-4 text-uppercase">About Us</h1>
            <p class="fs-3 paragraph">
                Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </p>
        </section>
    </div>

{% endblock %}