{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block head %}
<style>
    .paragraph {
        font-family: Serif;
        letter-spacing: 2px;
        word-spacing: 3px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row p-5 bg-light d-flex justify-content-center">
    <section class="text-white w-75 p-5 mt-5 rounded-5" style="background-color: #474e5d;">
        <h1 class="text-center pb-4 text-uppercase">Contact Us</h1>
        <table class="table table-light">
            <tbody>
                <tr>
                    <th scope="row">Street</th>
                    <td>13 E Pond Rd</td>
                </tr>
                <tr>
                    <th scope="row">City/Town</th>
                    <td>Nobleboro</td>
                </tr>
                <tr>
                    <th scope="row">State/Province/Region</th>
                    <td>Massachusetts</td>
                </tr>
                <tr>
                    <th scope="row">Zip/Postal Code</th>
                    <td>04555</td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td>(207) 563-3003</td>
                </tr>

            </tbody>
        </table>
    </section>
</div>
{% endblock %}